/* body {
    background-color: red;
} */

/*
*   ----- SPECIFIED TAGS -----
*/
#UserTextarea {
    height: 100px;
}

/*
*   ----- DEBUG -----
*/

.debug .container {
    border: 1px red dotted;
}

.debug .row {
    border: 1px blue dotted;
}

.debug .col-12,
.debug .col-md-8,
.debug .col-md-4,
.debug .col-md-6 {
    border: 1px green dotted;
}